/*********
 ! Menu
**********/

@include exports('menu') {
    .menu {
        background-color: $menu_bg_color;
        color: $menu_fg_color;
        border: 1px solid shade($menu_bg_color, 10%);
        border-radius: $roundness;
        font-size: $font-size;
        min-width: 100px;

        &.top {
            border-radius: 0 0 4px 4px;
            border-top-width: 0;
        }

        &.bottom {
            border-radius: 4px 4px 0 0;
            border-bottom-width: 0;
        }

        &.left {
            border-radius: 0 4px 4px 0;
            border-left-width: 0;
        }

        &.right {
            border-radius: 4px 0 0 4px;
            border-right-width: 0;
        }
    }
}