/* ===================================================================
   ! Switchers
   ===================================================================*/

.toggle-switch {
    width: 28px;
    height: 14px;
    background-size: contain;

    &-us, &-intl {
        background-image: url("assets/cinnamon/generated/off.svg");
    }

    &-us:checked, &-intl:checked {
        background-image: url("assets/cinnamon/generated/on.svg");
    }
}
