/* ===================================================================
   ! Tooltips
   ===================================================================*/

#Tooltip {
    border-image: url("assets/cinnamon/generated/tooltip.svg") 4;
    padding: 6px 8px;
    color: $dark_fg_color;
    font-size: 9pt;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    spacing: .3em;
}
