$variant: 'dark';

/* Base */
@import "functions";
@import "global";

/* Custom Variables */
$panel_bg_color: transparentize(shade($dark_bg_color, .9), .10);
$menu_bg_color: transparentize(shade($dark_bg_color, .9), .01);

/* Main Components */
@import 'components/all-components';

/* Applets */
@import 'applets/all-applets';

/* Desklets */
@import 'desklets/all-desklets';

/* Extensions */
@import 'extensions/all-extensions';
